<h1>OpenIDTest</h1>
<% unless user_signed_in? -%>
<%= link_to "Sign in using OpenID", new_user_session_path %>
<% else -%>
<%= link_to "Sign out", destroy_user_session_path %>
<% end -%>
<p>
	Welcome to OpenIDTest!
</p>