<h2>Sign in</h2>
<%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
<div class="field">
	<%= f.label :identity_url %>
	<br />
	<%= f.text_field :identity_url %>
</div>
<div class="actions">
	<%= f.submit "Sign in" %>
</div>
<% end %>